.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tags .tag {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 5px 5px 0;
  text-decoration: none;
  transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

/* CARD */
.card {
  width: 20rem;
}

.conteneur {
  position: relative;
  height: 17rem;
}

.cardImg {
  z-index: 2;
  border-radius: 8% 8% 0% 0%;
  top: 38px;
  left: 2rem;
  margin: 10px;
  max-width: 13rem;
  max-height: 9rem;
}

.front {
  top: 0px;
  left: 0.8rem;
}

.front,
.cardImg,
.mobile {
  position: absolute;
  /* margin: 0px;
  top: 0px;
  left: 0px; */
}

.mobile {
  z-index: 100;
  top: 8rem;
  left: 16rem;
}
