@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

/* html {
  scrollbar-color: #000 rgba(82, 82, 82, 0.15);
  scrollbar-width: thin;
} */
body {
  font-size: 0.5rem;
}

.App {
  text-align: center;
}

code {
  background: #eee;
  color: #d04;
}

nav > div > a > img {
  height: 3rem;
}

/* .header-card {
 
} */

.card {
  width: 20rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
  font-size: 1rem;
  margin: 0.8rem;
}

h1,
h2,
h3,
h4,
p,
footer {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.nav-link {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* linear-gradient(to right, #f71e95, e8d7c9) */
.border-title {
  border-top: 5px solid transparent;
  width: 50%;
  margin: auto;
  border-image-source: linear-gradient(to right, #e8d7c9, #f71e95);
  border-image-slice: 1;
  padding-bottom: 0.8rem;
}

.about {
  background-color: #eeedeb;
  margin: 2rem 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.2rem;
    margin: 1rem;
  }
  .border-title {
    padding-bottom: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 1.4rem;
    margin: 1.5rem;
  }
  .border-title {
    padding-bottom: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 0.8rem;
  }
  h1 {
    font-size: 1.6rem;
    margin: 2rem;
  }
  .border-title {
    padding-bottom: 2rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
    margin: 2.5rem;
  }
  .border-title {
    padding-bottom: 2.5rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    margin: 3rem;
  }
  .border-title {
    padding-bottom: 3rem;
  }
}
