.App {
  text-align: center;
}

code {
  background: #eee;
  color: #d04;
}

nav > div > a > img {
  height: 3rem;
}

/* .header-card {
 
} */

.card {
  width: 20rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
